{%load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>All your Rides</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/offerdetails.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
  <!-- <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css"> -->
  <!-- <link rel="stylesheet" href="{% static 'images/img_avatar.png' %}" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
      <div class="float-left"> <a href="{% url 'travel:index' %}"><img src="{% static 'images/logo1.png'%}" alt="image"/></a> </div>
      <div class="container">
        <!-- <div class="logo"> <a href="/index.html"><img src="static/images/logo1.png" alt="image"/></a> </div> -->
        <div class="navbar-header">

          <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!--<li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
            <ul class="sub-menu">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="dashboard-my-listings.html">My Listings</a></li>
            <li><a href="dashboard-reviews.html">Reviews</a></li>
            <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
            <li><a href="blog-single.html">Add Listing</a></li>
            <li><a href="dashboard-my-profile.html">My Profile</a></li>
          </ul>
        </li>-->
        <li ><a href="#">{{request.session.username}}</a> <span class="arrow"></span>
          <ul class="sub-menu">
            <li><a href="/myride">My Rides</a></li>
            <li><a href="{% url 'offer:allofferedrides' request.session.userid %}">My Offerings</a></li>
            <!--<li><a href="#">My Profile</a></li>-->
            <li><a href="{% url 'travel:signout'%}">Sign Out</a></li>
          </ul>
        </li>

        <!--<li><a href="signin.html">Sign In</a></li>-->
      </ul>
      <div class="submit_listing">
        <a href="{% url 'book:index' request.session.userid %}" class="btn outline-btn"><!--<i class="fa  fa-plus-circle"></i>-->Book a Ride</a>
      </div>
    </div>
  </div>
</nav>
</header>


<div class="container">

  <div class="ride_details" style="padding-top:8%">
    <h3 style="color:#000;text-align: center;">Your Past Rides</h3>

    <div class="btn-group btn-group-toggle", style="padding-bottom:10px;">
      <button type="button" class="btn btn-primary">Past Rides</button>
      <a href="{% url 'myride:upcoming'%}" class="btn btn-default offset-3">Upcoming Rides</a>
    </div>

  {% if all_reservations %}
  {% for reservation in all_reservations %}
  <div class="card bg-light mb-4">
    <div class="card-block">
      <div class="container">

        <img class="col-md-4" src="{% static "images/img_avatar.png" %}" alt="avatar" style="width:200px;"/>
        <div class="card-body"><strong>Name:</strong>{{reservation.eid.uid.fname}} {{reservation.eid.uid.lname}}</div>
        <div class="card-body">
          <strong>Start Date:</strong> {{reservation.start_date}}
        </div>
        <a href="rate" class="btn btn-primary btn-md-2">Rate</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h3>Sorry, you have no Past Rides :(</h3>
  {% endif %}
</div>
</div>

</body>
</html>
