{%load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>All your Rides</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/offerdetails.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'css/profile.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'css/rating.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <link rel="stylesheet" href="{% static 'images/img_avatar.png' %}" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
      <div class="float-left"> <a href="{% url 'travel:index' %}"><img src="{% static 'images/logo1.png'%}" alt="image"/></a> </div>
      <div class="container">
        <!-- <div class="logo"> <a href="/index.html"><img src="static/images/logo1.png" alt="image"/></a> </div> -->
        <div class="navbar-header">

          <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!--<li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
            <ul class="sub-menu">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="dashboard-my-listings.html">My Listings</a></li>
            <li><a href="dashboard-reviews.html">Reviews</a></li>
            <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
            <li><a href="blog-single.html">Add Listing</a></li>
            <li><a href="dashboard-my-profile.html">My Profile</a></li>
          </ul>
        </li>-->
        <li ><a href="#">Username</a> <span class="arrow"></span>
          <ul class="sub-menu">
            <li><a href="/myride">My Rides</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>

        <!--<li><a href="signin.html">Sign In</a></li>-->
      </ul>
      <div class="submit_listing">
        <a href="/book" class="btn outline-btn"><!--<i class="fa  fa-plus-circle"></i>-->Search a Ride</a>
      </div>
    </div>
  </div>
</nav>
</header>


<div class="container">
  <div class="intro_text white-text div_zindex">
    <h1>Welcome to TravelMate</h1>
    <h4>Ride Sharing Application</h4>
    {% csrf_token %}

  </div>
  <div class="ride details">
    <!-- <h3 style="color:#000;text-align: center;"></h3> -->



    <div class="card">
      <img src="{% static "images/img_avatar.png" %}" alt="John" style="width:100%">
      <h1>Loki</h1>
      <p class="title">Avg Rating: 3.8</p>

      <div class="rating" >
          <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>

      </div>

      <p><h3>Email: loki@husky.neu.edu</h3></p>
      <p>
        <h3>Phone: 617338291382</h3>
      </p>
    </div>

  </body>
  </html>
