<!--<h1>Hello Index page</h1>


<a href ='/book'> Book a ride </a> <br>
<a href ='/offer'> Offer a ride </a><br>
<a href ='/myride'> My Rides </a>-->

{%load staticfiles %}
<!--Bootstrap -->
<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="static/css/style.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="static/css/owl.carousel.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="static/css/font-awesome.min.css" rel="stylesheet">

<!--Date Picker-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/blitzer/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
</script>

<script src="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js">
</script>
<link rel="stylesheet" href="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<header id="header">
  <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
    <div class="container">
      <div class="navbar-header">
        <div class="logo"> <a href="{% url 'travel:index' %}"><img src="{%static 'images/logo1.png'%}" alt="image"/></a> </div>
        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <!--<li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
          <ul class="sub-menu">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="dashboard-my-listings.html">My Listings</a></li>
          <li><a href="dashboard-reviews.html">Reviews</a></li>
          <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
          <li><a href="blog-single.html">Add Listing</a></li>
          <li><a href="dashboard-my-profile.html">My Profile</a></li>
        </ul>
      </li>-->
      <li ><a href="#">{{request.session.username}}</a> <span class="arrow"></span>
        <ul class="sub-menu">
          <li><a href="/myride">My Rides</a></li>
          <!--<li><a href="#">My Profile</a></li>-->
          <li><a href="{% url 'offer:allofferedrides' request.session.userid%}">My Offerings</a></li>
          <li><a href="{% url 'travel:signout'%}">Sign Out</a></li>

        </ul>
      </li>

      <!--<li><a href="signin.html">Sign In</a></li>-->
    </ul>
    <div class="submit_listing">
      <a href="{% url 'offer:index' request.session.userid %}" class="btn outline-btn"><!--<i class="fa  fa-plus-circle"></i>-->+ Offer a ride</a>
    </div>
  </div>
</div>
</nav>
</header>
<!--<h1>Book index</h1>-->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type = 'text/css'/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

<!--<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header"/>
</div>
</nav>-->

<section id="banner" class="parallex-bg section-padding">
  <div class="container">
    <div class="intro_text white-text div_zindex">
      <h1>Welcome to TravelMate</h1>
      <h4>Ride Sharing Application</h4>
      <div class="search_form">

        <!--<div class="form-group select">
        <select class="form-control">
        <option>Where are you?</option>
        <option>Northeastern University</option>
        <option>Downtown</option>
        <option></option>
        <option>Health & Fitness</option>
        <option>Beauty & Spas</option>
        <option>Hotels & Travel</option>
        <option>Automotive</option>
      </select>
    </div>-->


    <!-- IMP PART OF PAGE -->
<!--
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"> Submit</button>
    </form> -->

    <form action="{% url 'book:searchres' userid %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="fromlocation" id = "fromlocation" class="form-control" placeholder="Leaving From" required>
      </div>
      <div class="form-group">
        <input type="text" name="tolocation" id = "tolocation" class="form-control" placeholder="Going To" onblur="checkSame(); return false;" required>
        <span id="confirmMessage" class="confirmMessage"></span>
      </div>

      <div class="form-group">
        <p> <input  name="departure" id="departure"  style="color:Black" placeholder="mm/dd/yyyy" required></p>
        <!--<input type="date" id = "startdate" class="form-control" placeholder="Date">-->
      </div>


      <div class="form-group" >
          <p> <input  type="text" class="timepicker1"  name="user_start" placeholder="Start Time (24 Hrs)" style="color:Black;" required></p>
      </div>

      <div class="form-group search_btn">
        <input type="submit" value="Search"class="btn btn-block"/>
      </div>

    </form>

  </div>
</div>
</div>
<div class="dark-overlay"></div>

</section>



<!-- Popular-Cities/Towns
<section id="popular_cities" class="section-padding">
<div class="container">
<div class="section-header text-center">
<h2>Most Popular Destinations/Towns</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="row">
<div class="col-sm-6 col-md-3">
<div class="cities_list">
<div class="city_listings_info">
<h4>Andover</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list chicago">
<div class="city_listings_info">
<h4>Chicago</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list angeles">
<div class="city_listings_info">
<h4>Los Angeles</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list francisco">
<div class="city_listings_info">
<h4>San Francisco</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list seattle">
<div class="city_listings_info">
<h4>Seattle</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list washington">
<div class="city_listings_info">
<h4>Washington, D.C.</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list orlando">
<div class="city_listings_info">
<h4>Orlando</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>

<div class="col-sm-6 col-md-3">
<div class="cities_list miami">
<div class="city_listings_info">
<h4>Miami</h4>
<div class="listing_number"><span>6 Listings</span> </div>
</div>
<a href="#" class="overlay_link"></a>
</div>
</div>
</div>
<div class="text-center">
<a href="#" class="btn">View More Cities / Towns</a>
</div>
</div>
</section>-->
<section id="about_info" class="section-padding">
  <div class="container">
<div class="row">
  <div class="col-sm-5" ><img src="{%static 'images/neu.png'%}" style="margin:auto;width:50%;display:block;margin-top:15%" /></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5 " >
    <h3>Some useful tips:</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:30%;background-color:black">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:100%;" >
      <div class="item active">
        <div class="d-block w-100" >
        <h2 style="padding-left:20%;background-color:lavender;width:60%">#Pro Tip 1</h2>

        </div>
        <p style="padding-left:20%;color:white">When in doubt, carry your own music!</p>
      </div>

      <div class="item">
        <div class="d-block w-100" >
        <h2 style="padding-left:10%;background-color:lavenderblush;width:60%">#Pro Tip 2</h2>
        </div>
        <p style="padding-left:10%;color:white">Finding a Travel-Mate is easier than getting a lyft ;)</p>
      </div>

      <div class="item">
        <div class="d-block w-100" >
        <h2 style="padding-left:20%;background-color:lavender;width:60%">#Pro Tip 3</h2>
        </div>
        <p style="padding-left:10%;color:white">Always clean up after completing a ride. Nobody wants your chewingum under their dashboard.</p>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
            </div>

  </div>
    </div>
</section>




<script>
$(function(){

  $("#departure").datepicker({
    showAnim: "fadeIn",
    changeYear: true,
    numberOfMonths: 1,
    dateFormat: "mm/dd/yy",
    minDate: +1,
    maxDate: "+12M +10D",
    onClose: function(selectedDate){
      $("#return").datepicker("option", "minDate", selectedDate)
    }
    ,
    showWeek: true
  });


});

</script>

<script>


  $(function(){
  $("#fromlocation").autocomplete({
  source: ["Boston","Chicago","California","London","San Francisco","London",
      "Northeastern University", "Burlington", "Andover","Paris", "Paris", "Madrid",
       "Copley","Wilmington"]
  });
  });


   </script>

    <script>


  $(function(){
  $("#tolocation").autocomplete({
  source: ["Boston","Chicago","California","London","San Francisco","London",
      "Northeastern University", "Burlington", "Andover","Paris", "Paris", "Madrid",
       "Copley","Wilmington"]
  });
  });


   </script>

<script>


  $(function(){
  $("#fromlocation").autocomplete({
  source: ["Boston","Chicago","California","London","San Francisco","London",
      "Northeastern University", "Burlington", "Andover","Paris", "Paris", "Madrid",
       "Copley","Wilmington"]
  });
  });


   </script>

    <script>


  $(function(){
  $("#tolocation").autocomplete({
  source: ["Boston","Chicago","California","London","San Francisco","London",
      "Northeastern University", "Burlington", "Andover","Paris", "Paris", "Madrid",
       "Copley","Wilmington"]
  });
  });


   </script>

   <script>
   (function($) {
   $(function() {
       $("input.timepicker1").timepicker({ 'timeFormat': 'H:i' });
   });
   })(jQuery);
   </script>

<script>
    function checkSame()
{
    //Store the password field objects into variables ...
    var fromlocation = document.getElementById('fromlocation');
    var tolocation = document.getElementById('tolocation');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#ff6666";
    var badColor = "#ffffff";
    //Compare the values in the password field
    //and the confirmation field
     if(fromlocation.value == tolocation.value && tolocation.value !=""){
        //The passwords match.
        //Set the color to the good color and inform
        //the user that they have entered the correct password
        tolocation.style.border = "2px solid Red";
        message.style.color = goodColor;
        message.innerHTML = "Location cannot be Same!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        tolocation.style.border = "";
        tolocation.style.backgroundColor = badColor;
        message.innerHTML = "";
    }
}
</script>
