<h1>Book index<h1>


<form action = "{% url 'book:searchres' %}" method = "post">
  {% csrf_token %}
  <input type = "textfield" id = "fromlocation" name = "fromlocation">
  <label for = "fromlocation"> From Location </label>
  <input type = "textfield" id = "tolocation" name = "tolocation">
  <label for = "tolocation"> To Location </label>
  <input type = "textfield" id = "startdate" name = "startdate">
  <label for = "startdate"> Start Date </label>
  <input type = "submit" value = "Find a ride">
</form>
